.hero-content{
    margin-top: 0px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: #000;
   color: #fff;
   min-height:100%;
}
.tagline{
    margin-left: 150px;
   min-width:600px;
   margin-top:80px;
    
    h1{
    font-size: 80px;
    font-weight: 500;
    }
    p{
        font-size: 24px;
        font-weight: 400;
    }
}
.hero-img{
    padding-top:80px;
    
   min-width: 900px;
    img{
       display: flex;
       align-items: center;
       justify-content: center;
       width:600px;
       min-height: 400px;
       box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        border-radius: 20px;
    }
}
.hero-btns{
    display: flex;
    gap: 20px;

.hero-btn1{
    background-color: hotpink;
    width: 150px;
    height:50px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: rgb(77, 34, 55);
}

.hero-btn1:hover{
    background-color: #ff0080;
}
.hero-btn2{
    background-color: rebeccapurple;
    width: 150px;
    height:50px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.hero-btn2:hover{
    background-color: indigo;
}

.hero-btn3{
    background-color: green;
    width: 150px;
    height:50px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.hero-btn3:hover{
    background-color: darkgreen;
}

}
